<template name="mainLayout">
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <ul class="nav navbar-nav navbar-right">
                    <li>{{> loginButtons}}</li>
                </ul>
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Squad Health Check</a>
                </div>
            </div>
        </nav>
        <main>
            {{> flashMessages}}
            {{>Template.dynamic template=content}}
        </main>
        <footer>
            <a href="/privacy">Privacy Policy</a><br/>
            &copy; 2016-2018 <a href="http://arius.pl">arius</a>
            - check on <a href="https://github.com/arius86/squad-health-check" target="_blank">github</a>
        </footer>
    </div>
</template>
