<template name="mainLayout">
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Squad health check</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>{{> loginButtons}}</li>
                </ul>
            </div>
        </nav>
        <main>
            {{> flashMessages}}
            {{>Template.dynamic template=content}}
        </main>
        <footer>
            Check source on <a href="https://github.com/arius86/squad-health-check" target="_blank">github</a>
            &copy; 2016 <a href="http://arius.pl">arius</a>
        </footer>
    </div>
</template>
