<template name="stats">
    <div class="row">
        <div class="col-xs-12">
            <h2>Squad health check statistics</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Overall</th>
                        <th colspan="3">State</th>
                        <th colspan="3">Trend</th>
                    </tr>
                </thead>
                <tbody>
                {{#each cards}}
                    <tr>
                        <th>{{ title }}</th>
                        <td><span class="overall {{ getOverallIconClass _id }}"></span></td>
                        <td class="success">{{ countStateByValue _id 1 }}</td>
                        <td class="warning">{{ countStateByValue _id 0 }}</td>
                        <td class="danger">{{ countStateByValue _id -1 }}</td>
                        <td class="success">{{ countTrendByValue _id 1 }}</td>
                        <td class="warning">{{ countTrendByValue _id 0 }}</td>
                        <td class="danger">{{ countTrendByValue _id -1 }}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>
